<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-3">
            <div class="text-primary text-center"> <h3>{{ loginMode ? 'Sign In' : 'Sign Up'}}</h3>  </div>
            <div class="alert alert-danger" *ngIf = "error">
                <p>{{ error }}</p>
            </div>
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <fieldset *ngIf="!loginMode">
                    <div class="form-group">
                        <label>First Name:</label>
                        <input class="form-control" type="text" formControlName="firstName">  
                        <div  *ngIf="authForm.get('firstName').invalid && authForm.get('firstName').touched" class="validation"><small>Please enter your name min length 2</small></div>  
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input class="form-control" type="text" formControlName="lastName">
                        <div  *ngIf="authForm.get('lastName').invalid && authForm.get('lastName').touched" class="validation"><small>Please enter your last name min length 2</small></div>  
                    </div>
                </fieldset>
                <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" type="text" formControlName="email">
                    <div  *ngIf="authForm.get('email').invalid && authForm.get('email').touched" class="validation"><small>Please enter correct email</small></div>  
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input class="form-control" type="password" formControlName="password">
                    <div  *ngIf="authForm.get('password').invalid && authForm.get('password').touched" class="validation"><small>Please enter password min length 8</small></div>  
                </div>
                <button [disabled]="!authForm.valid" class="btn btn-primary"  type="submit">{{ loginMode ? 'Sign In' : 'Sign Up'}}</button>
                <span  class="link ml-5 text-primary"  (click)="changeMode()"><u>{{ loginMode ? 'Create an account' : 'I have an account'}}</u></span>
            </form>
        </div>
    </div>
</div>
       
       
   

    
