@import '../node_modules/bootstrap/scss/bootstrap.scss';

.link {
    cursor: pointer;
}

.validation small {
    color: red;
}

input.ng-invalid.ng-touched {
    border: solid 1px red;
    outline: 0!important;
}